.d-inline-block.align-text-top{
    max-height: 72px;
}

.navbar-brand{
    margin-left: 15px;
}
h4{
    margin-bottom: 200px;
}
.text_overlay{
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.h6.after{
    font-size: 30px;
    max-width: 108px;
    color: rgb(24, 105, 105);
    
}
@media (max-width: 720px) {
    .text_overlay span{
        text-align: center;
        display: flex;
        margin-top: -140%;
        transform: translate(0%, 0%);
        color: white;
    }
    .h6.after{
        font-size: 20px;
        color: rgb(24, 105, 105);
        padding: 3%;
    }
    .h1.meta{
        font-size: 24px;
    }
    .h3{
        font-size: 20px;
    }
    .h6{
        font-size: 18px;
    }
    .col-4{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .text_overlay span{
        text-align: center;
        font-size: 36px;
        display: flex;
        color: white;
    }
}
.row.text-center.content{
    margin-top: 2%;
    justify-content: space-evenly;
}
.col.content{
    max-width: 170px;
}